*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cdcdcd;
}

header {
    display: flex;
    background-color: black;
    align-items: center;
}

header > img {
    width: 170px;
    height: 100px;
    
}

header > h1 {
    color: #8a0303;
    padding-left: 40px;
    font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.cards {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 5rem auto 0;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 2rem;
    background-color: rgba(90, 90, 90, .5);
    padding-bottom: 5px;
    border-radius: 10px;
}

.dead-card {
    margin-bottom: 2rem;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: black;
}

.dead-card > img {
    width: 170px;
    height: 170px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.dead-card > h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Satisfy';
    text-decoration: line-through;
    color: white;
}

.card > img {
    width: 170px;
    height: 170px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card > h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Satisfy';
}

.rcc-container {
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    /* background-color: #072302; */
    margin: 30px auto 10px;
}

.rcc-container > button {
    width: 100px;
    margin-bottom: 20px;
}