* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     background-color: #fceed1; 
}
.titleContainer{
    background-color: #0EC6B6;
    padding: 10px 15px;
}
.title {
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
}
nav {
    background-color: #C2DFDD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}
.navHome {
    text-decoration: none;
    font-size: 23px;
    color: cornflowerblue;
}
.navHome:hover{
    font-size: 30px;
    color: darkgoldenrod;
}
.navAbout {
    text-decoration: none;
    font-size: 23px;
    color: cornflowerblue;
}
.navAbout:hover {
    font-size: 30px;
    color: darkgoldenrod;
}
.navContact {
    text-decoration: none;
    font-size: 23px;
    color: cornflowerblue;
}
.navContact:hover {
    font-size: 30px;
    color: darkgoldenrod;
}
.firstHomeDiv {
    margin: 0px;
    display: flex;
    background-color: white;
    height: 330px;
}
.randomDude {
    width: 300px;
    height: 250px;
    margin: 30px 20px;
    float: left;
    position: relative;
    top: 12px;
}
.coDescription {
    margin: 10px;
    position: relative;
    top: 27px;
    height: 250px;
}
.pacakesDiv {
    margin: 0px;
    height: 330px;   
}
.reviewsDiv {
    margin: 0px;
    height: 330px;
    background-color: white;
}
@media only screen and (max-width: 600px){
    nav {
        display: flex;
        flex-direction: column;
        position: relative;
        float: left;
        height: 100vh;
        padding: 0px 15px;
    }
    .randomDude{
        width: 150px;
        height: 150px;
    }
}