html, body {
  background: black;
  color: #00b800;
  margin:0;
  padding: 0;
  padding-top: 5px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

body {
  font-weight: 400;
  display: grid;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled{
  background-color: red;
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
  resize: none;
}

textarea:disabled {
  background-color: #a5a2a2;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prompt {
  font-size: 15px;
  font-family: "Spartan";
  line-height: 1.5rem;
  width: 75%;
  margin: 0 auto;
  color: whitesmoke;
  text-align: left;
  padding: 10px;
  -webkit-user-select: none;
}

.prompt > h1 {
  font-family: 'Press Start 2P', cursive;
  color: #00b800;
}