#content > div {
    height: 100px;
    width: 100px;
    border: 4px solid black;
    margin: auto;
    background-color: bisque;
    transition: all 500ms;
}
#box1:hover {
    background-color: red;
    border-color: blue;
    width: 200px;
}

#box2:hover{
    border: 4px dashed green;
    height: 200px;
    opacity: 20%;
}

#box3:hover{
    border-style: groove;
    height: 90px;
    width: 90px;
}

#box4:hover {
    /* opacity: 0%; */
    box-shadow: indigo 10px 10px, yellow 20px 20px, red 30px 30px;
    border: none;
    position: relative;
    left: 10px;
}

#box5:hover{
    border-radius: 50%;
    background-color: yellowgreen;
    box-shadow: red -10px -10px;
}

#box6:hover{
    opacity: 70%;
    height: 100vh;
    width: 2in;
}