h1 {
    color: #448808;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    line-height: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.aditional {
    text-transform: uppercase;
}
img {
    float: left;
    padding-right: 40px;
}