* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

hr {
    width: 25%;
    border: 2px solid #c46155;
    margin: 0 auto 1rem;
}

nav {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 0 25%;
    background-color: rgba(245, 245, 245, .9);
}

nav > a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    padding: 15px 10px;
}

nav > a:hover {
    color: #c46155;
}

.home {
    margin: auto;
    padding-top: 7rem;
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
    background: linear-gradient(
            rgba(0,0,0,0.05),
            rgba(0,0,0,0.15)
        ),
        url("./images/bg-img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    overflow: hidden;
}

.home > h1 {
    font-size: 70px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.home > p {
    font-size: 40px;
    font-weight: 100;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    75% { transform: rotate(0deg); }
   80% { transform: rotate(20deg); }
   90% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.continue-to-page{
    z-index: -1;
    margin-top: 6rem;
    animation: wiggle 2.5s infinite
}

.continue-to-page > a{
    font-size: 4rem;
    color: #c76f65;
    z-index: -1;
}

.social-icons {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.social-icons > a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    transition: font-size 0.5s;
    padding: 5px;
}

.social-icons > a:hover {
    color: #c46155;
    font-size: 3rem;
}

.skill-list {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    flex-wrap: wrap;
}

h2 {
    margin-top: 4rem;
    color: grey;
    font-size: 40px;
}

h3 {
    margin-bottom: .5rem;
    font-size: 30px;
    color: grey;
}

.skill-list > div {
    margin: 1rem 2rem;
}

.other-skills{
    flex-basis: 100%;
}

.other-skills > ul {
    list-style: none;
}
